
.cta {
  background-position: 75%;
}

.cta-banner {
  display: none;
}

.cta-content {
  padding-block: 80px var(--section-padding);
}

.cta .section-title {
  text-align: left;
  margin-block: 10px 20px;
}

.cta .section-text {
  margin-block-end: 30px;
}

.cta .btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--black);
}

